DOMAIN=transcen.dence.fr
PROD=false
TLS_MODE=selfsigned
ROOT_DIR=~/goinfre/capsul
HTTP_PORT=80
HTTPS_PORT=443
POSTGRES_DB=capsul
POSTGRES_USER=capsul
OLLAMA_MODEL=qwen3:4b-instruct-2507-q4_K_M
OLLAMA_KEEP_ALIVE=-1
OLLAMA_CUDA_VISIBLE_DEVICES=
MOOD_CLASSIFIER_MODEL_ID=AnasAlokla/multilingual_go_emotions_V1.2
SMTP_URL=
SMTP_PORT=1025
SMTP_EMAIL=
SMTP_PASSWORD=
ACME_CONTACT_EMAIL=admin@transcen.dence.fr
ACME_CA=letsencrypt
PDA_API_URL=https://ns.xavier.niel.fr
PDA_SERVER_ID=localhost
PDA_ZONE=dence.fr
DNS_PROPAGATION_SECONDS=30
