DOMAIN=transcen.dence.fr
PROD=false
TLS_MODE=selfsigned
POSTGRES_DB=capsul
POSTGRES_USER=capsul
ACME_CONTACT_EMAIL=admin@transcen.dence.fr
ACME_CA=letsencrypt
PDA_API_URL=https://ns.xavier.niel.fr
PDA_SERVER_ID=localhost
PDA_ZONE=dence.fr
DNS_PROPAGATION_SECONDS=30
